<odoo>
    <data>

<menuitem id="housemaid_menu_root"
                  name="Housemaid"
                  sequence="0"
                  web_icon="housemaid,static/description/icon.jpeg"/>

<menuitem id="report_menu_category"
                  name="Reports"
                  parent="housemaid_menu_root"
                  sequence="1"/>

<menuitem id="app_sum_rep_wiz_wizard_menu_action"
                  name="Application Summary"
                  parent="report_menu_category"
                  action="app_sum_rep_wiz_wizard_action_window"
                  sequence="4"/>
                  
        
        
        <report
            id="action_report_app_sum_wiz_rep_wiz"
            model="housemaid.configuration.externalofficetrans"
            string="Application Summary"
            report_type="qweb-pdf"
            name="housemaid.app_sum_rep"
            file="housemaid.app_sum_rep"
            menu="False"/>
        
        
                      </data>
</odoo>
